openapi: 3.1.0
info:
  title: Visa Acceptance Payments Captures API
  description: The Visa Acceptance Payments API (powered by CyberSource) provides REST endpoints for accepting payments online, in-person, and via mobile. The API supports authorization, capture, refund, void, and reversal operations for credit cards, debit cards, digital wallets (Apple Pay, Google Pay), and other payment methods. Authentication uses JSON Web Token (JWT) with RSA key pairs.
  version: '2.0'
  contact:
    name: Visa Acceptance Developer Portal
    url: https://developer.visaacceptance.com/
  license:
    name: Commercial
    url: https://developer.visaacceptance.com/
servers:
- url: https://api.visaacceptance.com
  description: Production environment
- url: https://apitest.visaacceptance.com
  description: Sandbox/test environment
security:
- JWT: []
tags:
- name: Captures
  description: Capture previously authorized payments
paths:
  /pts/v2/payments/{paymentId}/captures:
    post:
      operationId: capturePayment
      summary: Capture Payment
      description: Capture a previously authorized payment, transferring the held funds to the merchant account. Must be performed within the authorization's validity period.
      tags:
      - Captures
      parameters:
      - name: paymentId
        in: path
        required: true
        description: The payment ID returned from the authorization request
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureRequest'
      responses:
        '201':
          description: Payment captured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResponse'
        '400':
          description: Invalid request
        '404':
          description: Payment not found
components:
  schemas:
    CaptureResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - TRANSMITTED
          - FAILED
    CaptureRequest:
      type: object
      properties:
        orderInformation:
          type: object
          properties:
            amountDetails:
              type: object
              properties:
                totalAmount:
                  type: string
                currency:
                  type: string
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: RSA-signed JSON Web Token. Generate using your merchant ID and RSA key pair from the Visa Acceptance Business Center.
externalDocs:
  description: Visa Acceptance Developer Documentation
  url: https://developer.visaacceptance.com/docs.html
