openapi: 3.1.0
info:
  title: Visa Acceptance Payments Captures Refunds API
  description: The Visa Acceptance Payments API (powered by CyberSource) provides REST endpoints for accepting payments online, in-person, and via mobile. The API supports authorization, capture, refund, void, and reversal operations for credit cards, debit cards, digital wallets (Apple Pay, Google Pay), and other payment methods. Authentication uses JSON Web Token (JWT) with RSA key pairs.
  version: '2.0'
  contact:
    name: Visa Acceptance Developer Portal
    url: https://developer.visaacceptance.com/
  license:
    name: Commercial
    url: https://developer.visaacceptance.com/
servers:
- url: https://api.visaacceptance.com
  description: Production environment
- url: https://apitest.visaacceptance.com
  description: Sandbox/test environment
security:
- JWT: []
tags:
- name: Refunds
  description: Refund and credit operations
paths:
  /pts/v2/payments/{paymentId}/refunds:
    post:
      operationId: refundPayment
      summary: Refund Payment
      description: Refund a captured payment, returning funds to the customer. Refunds must be requested within 180 days of the original authorization. Partial refunds are supported.
      tags:
      - Refunds
      parameters:
      - name: paymentId
        in: path
        required: true
        description: The payment ID of the captured transaction to refund
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '201':
          description: Refund processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '400':
          description: Invalid refund request
        '404':
          description: Payment not found
components:
  schemas:
    RefundResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - TRANSMITTED
          - FAILED
    RefundRequest:
      type: object
      properties:
        orderInformation:
          type: object
          properties:
            amountDetails:
              type: object
              properties:
                totalAmount:
                  type: string
                  description: Amount to refund (can be less than original for partial refund)
                currency:
                  type: string
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: RSA-signed JSON Web Token. Generate using your merchant ID and RSA key pair from the Visa Acceptance Business Center.
externalDocs:
  description: Visa Acceptance Developer Documentation
  url: https://developer.visaacceptance.com/docs.html
